body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #002240;
}

:root {
    --text-dark: #000;
    --text-light: #fbf2f2;
    --text-muted: #595959;
  
    --background-color: #fff;
    --accent-colour: #f56565;
    --accent-colour-2: #3bb54a;
    --tag-colour: #e5e5e5;
  
    --border: 3px solid #000;
  }
  
  :root.dark-mode {
    --text-dark: #fbf2f2;
    --text-light: #000;
    --text-muted: #595959;
  
    --background-color: #1c2023;
    --accent-colour: #f56565;
    --accent-colour-2: #3bb54a;
    --tag-colour: var(--accent-colour-2);
  
    --border: 3px solid #fff;
  }