:root {
  --text-dark: #002240;
  --text-light: #ffffff;

  --background-color: #edffed;
  --hover-color: green;

  --border: 2px solid forestgreen;
}
  
:root.dark-mode {
  --text-dark: #fbf2f2;
  --text-light: #000000;

  --background-color: #1c231d;
  --hover-color: lightgreen;

  --border: 2px solid darkgreen;
}

html {
  /* Sets global font size on small devices */
  font-size: 10px;
}

@media screen and (min-width: 60em) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 75em) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--text-dark);
  background-color: var(--background-color);

  padding-left: 10px;
  padding-right: 10px;
}

/* For removing annoying extra whitespace in links */
a {
  display: inline-block;
}

.game-table table, 
.post-table table {
  border: var(--border);
  margin-top: 5px;
  margin-bottom: 5px;
}

td {
  color: var(--text-dark) !important;
  background-color: var(--background-color) !important;
}

#game-play-button-td {
  align-self: right;
  vertical-align: middle;
  text-align: right;
}

svg {
  width: 25px;
  height: 25px;

  stroke: var(--text-dark);
}

.navbar-custom {
  background-color: var(--background-color) !important;
  margin-top: 5px;
  padding-bottom: 0px;
}

.navbar-custom form {
  margin-left: 1px;
}

.navbar-custom a.navbar-brand {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}

.navbar-custom a.navbar-brand:hover {
  color: transparent;
  transition: 500ms ease;
}

.navbar-custom .navbar-text,
.navbar-custom .nav-link {
  color: var(--text-dark);
}

.navbar-custom li:hover {
  border-radius: 2px;
  background-color: var(--hover-color);
}

.navbar-custom li:hover a {
  color: var(--text-light);
}

.navbar-custom li:hover svg {
  stroke: var(--text-light);
}
