<table class="table table-hover" id="game-{{ game.id }}">
    <tr>
        <td width="70px">
            <a href="{{ game.igdb_url }}"> 
                {% if game.image_url %} 
                <img src="{{ game.image_url }}" />
                {% else %}
                <img src="https://images.igdb.com/igdb/image/upload/t_thumb/nocover.jpg" />
                {% endif %}
            </a>
        </td>
        <td>
            {{ game.name }} 
            {% if game.release_year %} 
            ({{ game.release_year }})
            {% else %}
            (Unknown Release Date)
            {% endif %}
        </td>
        <td align="center">
            {{ game.id }}
        </td>
        <td align="right">
            <p>
                {% if not current_user.is_playing(game) %}
                <button id="button-{{ game.id }}" type="button" class="btn btn-primary" 
                    onclick="togglePlay('{{ game.id }}', true)">Play</button>
                {% else %}
                <button id="button-{{ game.id }}" type="button" class="btn btn-secondary" 
                    onclick="togglePlay('{{ game.id }}', false)">Unplay</button>
                {% endif %}
            </p>
        </td>
    </tr>
</table>
