{% extends "base.html" %}

{% block content %}
<h1>User {{ user.username }}'s Playtime</h1>
{% if user.played_games_count() == 0 %}
<p>This user hasn't added any games to their Game List yet.</p>
{% else %}
    <div style="max-width: 100%; overflow-x: scroll">
        <div id="playtimeContainer" style="width: 500px">
        <canvas id="playtimeChart" style="height: 400px;"></canvas>
        </div>
    </div>
    {% if user == current_user %}
    {% for play in user.played_games_play() %}
        Add hours for {{ play.game.name }} (Current: {{ play.hours_played }})
        <form method="POST" action="{{ url_for('log_hours', user_id=play.user_id, game_id=play.game_id) }}">
            {{ form.hidden_tag() }}
            <div>
                <label for="hours_played">Hours Played:</label>
                {{ form.hours_played(class="form-control", type="number", step="1") }}
            </div>
            <div>
                <button type="submit">{{ form.submit.label }}</button>
            </div>
        </form>
    {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}

{% block more_js %}
<script>
    // Ok need to declare jinja dependent variables here apparently
    var chartlabels = JSON.parse(`{{ user.played_games_names() | tojson }}`);
    var chartdata = JSON.parse(`{{ user.played_games_hours() | tojson }}`);
</script>
<script src="{{ url_for('static', filename='hours_chart.js') }}"></script>
{% endblock %}